@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");

:root {
  --primary-blue-color: hsl(202, 62%, 40%);
  --primary-yellow-color: hsl(45, 97%, 54%);

  --secondary-font-style: "Source code pro", sans-serif;

  --body-font-size: 1rem;

  /* Primary Heading Font Sizes*/
  --primary-heading-one: 3.2rem;
  --primary-heading-two: 2.8rem;
  --primary-heading-three: 2.4rem;
  --primary-heading-four: 2.2rem;

  --primary-body-font-size: 1.8rem;
  --secondary-body-font-size: 1.6rem;
  --footer-font-size: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
}

section {
  margin-bottom: 4rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: var(--primary-heading-two);
  margin-bottom: 2rem;
}

p {
  font-size: var(--primary-body-font-size);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

header {
  height: 6rem;
  background-color: #2779a7;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 5;
}

a:link {
  color: #fff;
}

a:hover {
  font-weight: bold;
}

.hero {
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3rem;
  padding: 2rem 2rem;
}

.hero-title {
  font-size: var(--primary-heading-one);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.hero-second {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 15rem;
  padding: 1rem 1rem;
  font-family: var(--secondary-font-style);
  font-size: 0.8rem;
}

.hero-second div:nth-last-child(1) p {
  font-size: var(--secondary-body-font-size);
  margin-bottom: 0.4rem;
}

.hero-second div:nth-last-child(1) ul li {
  font-size: var(--secondary-body-font-size - 2);
}

.up-next-div {
  background-color: var(--primary-yellow-color);
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

.up-next-div p:nth-last-child(1) {
  font-size: var(--primary-body-font-size);
}

.hero-second div ul {
  font-size: var(--body-font-size);
}

.link-button {
  background-color: #2779a7;
  color: #fff;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1.2rem;
  font-size: var(--body-font-size);
}

.banner-img {
  width: 100%;
}

/* Section Program */
.section-program {
  /* height: 100vh; */
  padding: 2rem 2rem;
}

.programs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.program {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
}

.programs .program p:nth-last-child(3) {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.programs .program p:nth-last-child(2) {
  margin-bottom: 0.5rem;
}

.program-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* Testimonials */
.section-testimonials {
  background-color: aliceblue;
  padding: 2rem 2rem;
}

.testimonial {
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

/* Members Section */
.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.team-members {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team {
  background-color: var(--primary-blue-color);
}

.member-photo {
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.team-member p:nth-last-child(2) {
  font-size: var(--primary-body-font-size);
  font-weight: bold;
}

.team-member p:nth-last-child(1) {
  font-size: var(--secondary-body-font-size);
}

/* footer */

footer {
  padding: 2rem 2rem;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 1.1rem;
}

.footer {
  font-size: var(--footer-font-size);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2rem;
}

.footer > .recent-news {
  row-gap: 0;
}

.footer ul {
  font-size: var(--footer-font-size);
}

/* .footer ul li a:link {
  color: black;
} */

.footer ul li span {
  color: #333;
  font-size: 1rem;
}

.social-media {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.socials {
  color: var(--primary-blue-color);
  font-size: 2rem;
}

.newsletter-input-div {
  display: flex;
  width: 100%;
}

.newsletter-email-bar,
.newsletter-signup {
  height: 4rem;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 16px;
}

.newsletter-email-bar {
  flex-grow: 1;
  border: 0.1rem solid #ccc;
  border-right: none;
  border-radius: 2rem 0 0 2rem;
}

.newsletter-signup {
  background-color: #1c7ed6;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 2rem 2rem 0;
  transition: background-color 0.3s;
}

.newsletter-signup:hover {
  background-color: #155a8a;
}

.newsletter-input-div {
  flex-direction: column;
  align-items: stretch;
}

.newsletter-email-bar,
.newsletter-signup {
  height: 3rem;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.4rem;
}

.newsletter-email-bar {
  border-radius: 1rem 1rem 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
}

.newsletter-signup {
  border-radius: 0 0 1rem 0.1rem;
}

.copyright {
  display: flex;
  justify-content: center;
}
