@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");

:root {
  --primary-blue-color: hsl(202, 62%, 40%);
  --primary-yellow-color: hsl(45, 97%, 54%);

  --secondary-font-style: "Source code pro", sans-serif;

  --body-font-size: 1rem;

  /* Primary Heading Font Sizes*/
  --primary-heading-one: 3.2rem;
  --primary-heading-two: 2.8rem;
  --primary-heading-three: 2.4rem;
  --primary-heading-four: 2.2rem;

  --primary-body-font-size: 1.8rem;
  --secondary-body-font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-size: 1.6rem;
}

/* p {
  font-size: var(--primary-body-font-size);
} */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

header {
  height: 4rem;
  background-color: #2779a7;
  display: flex;
  justify-content: space-between;
  font-size: 2rem 4rem;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 5;
}

a:link {
  color: #fff;
}

a:hover {
  font-weight: bold;
}

.hero {
  height: 100vh;
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3rem;
  padding: 2rem 2rem;
}

.hero-title {
  font-size: var(--primary-heading-one);
  line-height: 1.2;
}

.hero-second {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 15rem;
  padding: 1rem 1rem;
  font-family: var(--secondary-font-style);
  font-size: 0.8rem;
}

.hero-second div:nth-last-child(1) p {
  font-size: var(--secondary-font-style);
}

.up-next-div {
  background-color: var(--primary-yellow-color);
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.up-next-div p:nth-last-child(1) {
  font-size: var(--primary-body-font-size);
}

.link-button {
  background-color: #2779a7;
  color: #fff;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1.2rem;
}

.banner-img {
  width: 100%;
}

/* Section Program */
.section-program {
  /* height: 100vh; */
  padding: 2rem 2rem;
}

.programs {
  display: flex;
  gap: 2rem;
}

.program {
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.programs .program p:nth-last-child(3) {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.programs .program p:nth-last-child(2) {
  margin-bottom: 0.5rem;
}

.program-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* Members Section */
.our-team {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-members {
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
}

.our-team {
  background-color: var(--primary-blue-color);
}

.member-photo {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.team-member p:nth-last-child(2) {
  font-size: 0.8rem;
  font-weight: bold;
}

.team-member p:nth-last-child(1) {
  font-size: 0.6rem;
}
